nav{
    color:black;;
background-color:blue;
float:center;
font-size: 30px;
width: 100%;
margin-top: 0%;
margin-left: 0%;
margin-right: 0%;
margin-bottom: 0%;
padding: 20px;
position: fixed;
}

nav>ul>li{
    list-style-type: none;
    display: inline;
    padding: 20px;
}
a{color: white;
}


h1{
    color: blue;
text-align: center;
}

h2>ul>li{
    text-align: center;
}

h1>img{float: right;}

body{
    background-color: khaki;

}
.types{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 5%;
   padding: 20px;
   justify-content: space-between;
    
}

.games{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.cats{
    font-size: 30px;
}
.pet{
    font-size: 30px;
    text-align: center;
}